<!--
HTML page that is the system introduction page;
author: Liu Haodong and Wang Annong
-->

{% extends 'base1.html' %}

{% block title %}About{% endblock %}
{% block 'content' %}
<div class="col jumbotron bg-light text-dark">
    <h1 class="display-1">About</h1>
    <p class="lead">
    	Patient Registration System<br />
    	<br />
    	This is a simplified system based on Web developed by Team G as the final assignment of the course Team Working in Computing during Term 1 of Grade 3 in BUAA HND.<br />
        <br />
        About Team G: Team members are Liu Haodong (Team Leader), Zhao Jichen, Ye Yifan, and Wang Annong.
    </p>
</div>
{% endblock %}