<!--
HTML page that is the home page

created on 28 October, 2018

author: Liu Haodong and Wang Annong
-->

{% extends 'base1.html' %}

{% block title %}Home{% endblock %}

{% block 'content' %}
<div class="col jumbotron bg-info text-light">
    <h1 class="display-1">Hello</h1>
    <p class="lead">
    	Thanks for using our system!<br />
    	Any question or suggestion? Please email us: <span id="address" style="cursor: pointer" data-clipboard-text="prsadmin@126.com"><u>teamgprs@outlook.com</u></span><br />
    	Have a nice day! (●'◡'●)
    </p>
    <a href="{% url 'reg'%}" class="btn btn-success btn-lg">Let's begin!</a>
</div>
<script>
	var text = document.getElementById( 'address' );
    var clipboard = new ClipboardJS( text );
    
    clipboard.on( 'success', function( e ) {
    	console.log( e );
        alert( 'The email address has successfully copied to the clipboard.\nWe are looking forward to hearing from you.' );
    });
    clipboard.on( 'error', function( e ) {
    	console.log( e );
    });
</script>
{% endblock %}