<!--
HTML page that is the page for noticing that the verification email has been sent successfully

created on 30 October, 2018

author: Ye Yifan
-->

<!DOCTYPE html>

{% load static %}
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}" />
    <title>Email Sent Successfully - Patient Registration System</title>
</head>
<body>
    <h1 style="text-align: center">A verification link has been sent to your email address. Please check your email now.</h1>
    <h3 style="text-align: center; color:red">Attention: Remember to check the spam and those filtered.</h3>
</body>
</html>